body {
    font-family: 'Segoe UI', sans-serif;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

span {
    font-style: italic;
}

.fittingSlots > div {
    /*display: none;*/
}

.fittingSlots > div.validSlot {
    padding: 5px;
    border: 1px solid black;
    max-width: 40px;
    max-height: 40px;
    min-height: 40px;
    display: inline;
}

.fittingSlots > div.High {
    background-color: red;
}

.fittingSlots > div.Mid {
    background-color: orange;
}

.fittingSlots > div.Low {
    background-color: yellow;
}

.fittingSlots > div.Rig {
    background-color: green;
}

.ShipEquipmentSelect > ul {
    width: 350px;
    height: 150px;
    overflow: auto;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    cursor: pointer;
}  
